.button-back {
  background-color: var(--colorCustom2);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  width: 80%;
  align-self: center;
}

.button-back:hover {
  background-color: var(--colorCustom);
}

.container-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--blanco);
  margin-top: 20px;
}