:root {
	--primaryCustom3: #09e025;
	--primaryCustom1: #EA134E;
	--primaryCustom2:#a50b34;
	--colorCustom: #6363cb;
	--colorCustom2: #48489e;
	--colorCustom3: #4747c1;
	--colorCustom4: #C2B8B8FA;
	--colorCustom5: rgba(166, 0, 255, 0.1);
	--colorCustom6: #2c3e50;
	--colorCustom7: #fee2e2;
	--colorCustom8: #fef2f2;
	--colorCustom9: #dcfce7;
	--colorCustom10: rgba(255, 255, 255, 0.05);
	--colorCustom11: #666;
	--negro: black;
	--blanco: #ffffff;
	--blanco2: #f0f0f0;
	--blanco3: #eaeaea;
	--gris: #f8fafc;
	--gris2: #eef2f5;
	--gris3: #f0fdf4;
}
