.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_lanPage {
  background-color: var(--colorCustom);
  color: var(--blanco);
  border: none;
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.tagline {
  color: var(--blanco);
}

.title_lanPage::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  top: -150px;
  left: -50%;
}

.landing-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.landing-header .tagline {
  font-size: 1.3rem;
  font-weight: 300;
}

.button-login-custom {
  display: inline-block;
  margin-top: 20px;
  background-color: var(--colorCustom2);
  color: var(--gris3);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.button-login-custom:hover {
  background-color: var(--colorCustom3);
  color: var(--gris3);
  border-color: var(--blanco);
  transform: translateY(-1px);
  box-shadow: 0px 6px 20px var(--negro);
}

.text-custom {
  font-size: 40px;
  color: var(--colorCustom2);
  text-align: center;
}

.feature-card {
  background-color: var(--blanco);
  border: none;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 15px var(--negro);
  height: 220px;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 20px var(--negro);
}

.feature-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  top: -100px;
  left: -50%;
  background: var(--colorCustom10);
  transform: rotate(45deg);
}

.feature-card h3 {
  font-size: 1.6rem;
  color: var(--colorCustom2);
  margin-bottom: 15px;
  font-weight: bold;
}

.feature-card p {
  font-size: 1rem;
  color: var(--colorCustom11);
  line-height: 1.6;
}

.landing-footer {
  background-color: var(--colorCustom);
  color: var(--blanco);
  padding: 20px 0;
  text-align: center;
}

.landing-footer p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--negro)
}

@media (max-width: 768px) {
  .landing-header h1 {
    font-size: 2rem;
  }

  .landing-header .tagline {
    font-size: 1.1rem;
  }

  .features {
    padding: 20px;
    margin: 10px;
  }

  .feature-card h3 {
    font-size: 1.4rem;
  }

  .feature-card p {
    font-size: 0.9rem;
  }
}