.navbar {
    box-shadow: 0 4px 8px var(--negro);
    overflow: visible;
    width: 100%;
    background-color: var(--colorCustom); /* Fondo actualizado */
}

.nav-item {
    transition: transform 0.3s ease;
    padding: 5px 10px;
    display: inline-block;
    white-space: nowrap;
    margin-left: 15px;
}

.nav-item:hover {
    transform: scale(1.1);
    z-index: 1;
}

.nav-item.active .nav-link {
    background-color: var(--colorCustom4);
    color: var(--blanco);
}

@media (max-width: 768px) {
    .nav-item:hover {
        transform: scale(1.05);
    }

    .navbar {
        box-shadow: 0 4px 8px var(--negro);
        overflow: visible;
        width: 190%;
    }
}

@media (min-width: 768px) {
    .nav-item:hover {
        transform: scale(1.05);
    }
}

.navbar-brand {
    font-size: 1.5rem;
    margin-left: 15px;
    color: var(--blanco);
}

.navbar-brand:hover {
    color: var(--blanco);
}

.nav-link {
    padding: 10px 15px;
    color: var(--blanco);
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: var(--colorCustom2);
    border-radius: 10px;
}

.nav-item.active .nav-link {
    background-color: var(--colorCustom);
    color: var(--blanco);
}